*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 30vh;
}

.d-flex{
    display: flex;
    justify-content: space-around;
}

.center{
    text-align: center;
}

body{
    background-color: #006d77;
    color: #edf6f9;
}

.btn{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
}

.red{
    background-color: red;
}

.blu{
    background-color: #006d77;
}

.green{
    background-color: #83c5be;
}

#vittComputer,
#vittGiocatore{
    padding-top: 10px;
}
